<div class="row">
  <div class="col-md-6">
    <div class="form-input">
        <div class="row">
          <div class="col">
            <input type="text" required ngModel class="form-control" #newName name="name" placeholder="name"  >
            <!-- <div class="alert alert-danger" *ngIf="name.touched && !surname.valid" >Telephone Number required</div> -->
          </div>
        </div>
        <button  class="btn btn-info mt-3 btn-block "
        (click)="addname(newName.value); newName.value='' " >Add</button>
    </div>
  </div>

  <div class="col-md-6">
    <div class="table-list">
      <table class="table" >
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="lists">
          <tr *ngFor="let item of todos; let id = index" >
            <td>{{ id }}</td>
            <td>{{ item.name }}</td>
            <td>
              <button (click)="deleteName(item)" class="px-3 btn btn-danger"><i class="fas fa-trash text-white"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
