* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: capitalize;
}

header {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}

.table-list {
  padding-top: -5px;
}

.form-input {
  padding-top: 2rem;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgb(59, 41, 214);
}

.form-inline {
  width: 100%;
}

div > input {
  width: 23rem ;
}

.lists {
  margin: 0 auto;
}

.form-control.ng-touched.ng-invalid {
  border: 1px solid red;
}

.lists td {
  max-width: 150px;
}

.btn {
  padding: 0 3rem;
  background-color: rgb(47, 44, 216);
  
}
